.navbar
{
    width: 100%;
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
ul
{

    display: flex;
    justify-content: space-around;
    width: 20%;
    transition: all 400ms;
}
li
{
    list-style-type: none;
    
}
.links
{
    text-decoration: none;
    font-size: large;
    color:white;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    
}
.links:hover{
    color:yellow;
    
}
*
{
    margin: 0;
    padding: 0;
}