@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* HTML: <div class="loader"></div> */



.loader { 
  width: fit-content;
  font-size: 40px;
  font-family: system-ui,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #22D3EE;
  background: 
    conic-gradient(from -135deg at 100% 50%,#22D3EE 90deg,#22D3EE 0) text no-repeat,
    conic-gradient(from -135deg at 1lh  50%,#22D3EE 90deg,#22D3EE 0) text no-repeat;
  animation: l6 2s linear infinite;
}
.loader:before {
  content: "Welcome to Satheesh Portfolio";
}
@keyframes l6 {
  0%     {background-size: 0                200%;background-position:0 0   ,100% 0   }
  50%    {background-size: calc(60% + .5lh) 200%;background-position:0 0   ,100% 0   }
  50.01% {background-size: calc(60% + .5lh) 200%;background-position:0 100%,100% 100%}
  100%   {background-size: 0                200%;background-position:0 100%,100% 100%}
}    

.circleanim::after{
  /* overflow: hidden; */
  content: "";
  position: absolute;
  
  border-radius: 9999px;
  inset: 5px;
}
.circleanim::before{
  content:"";
  position: absolute;
  width: 200px;
  height: 140%;
  background: linear-gradient(#22D3EE,#22D3EE);
  animation:rotate 4s linear infinite;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}